<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Speeding in Texas</title>

	<!-- BOOTSTRAP JS & CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- D3 & TOOLTIP JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

	<!-- OUR OWN CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" >

</head>

<body>

	<!-- Jumbotron Header -->
	<div class="jumbotron">
		<div class="container header_text">
			<h1 class="display-3">The Effects of Speeding in Texas</h1>
			<p class="lead">A look at speed-related Speeding stops and accidents in Texas from 2010-2017</p>
		</div>
	</div>

	<!-- Overview of Data Sources -->
	<div class="container">
		<div class="row">
			<h1 class="graph_title">The Data</h1>
		</div>
		<div class="picture">
			<center><img src="https://media3.giphy.com/media/nOeD0X0WnwxIA/giphy.gif", alt="Toddler in Little Tykes car gets pulled over"></center>
		</div>
		<div class="row data_sources">
			<div class="col-md-4">
				<p>Crash Records Information System</p>
			</div>
			<div class="col-md-4">
				<p>US Census Data</p>
			</div>
			<div class="col-md-4">
				<p>Stanford Open Policing Project</p>
			</div>
		</div>
		<div class="row">
			<h1 class="graph_title"></h1>
		</div>
	</div>

	<!-- Graph with Title and Insight
		To add new graph, copy/paste, update iframe source
		to your Graph's html file and update graph_title text) -->
	<!-- <div class="container graph">
		<div class="row">
			<h1 class="graph_title">Example Graph</h1>
		</div>

		<div class="row graph_visualization">
			<div class="col-md-12">
				<div class="iframeContainer">
					<iframe class="embed-responsive-item" src="/example" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 insight_text">
				<ul>Insight Gained
					<li>Interesting Point</li>
					<li>Another Point</li>
					<li>So Many Points</li>
				</ul>
			</div>
		</div>
	</div> -->

	<div class="container graph">

		<div class="row">
			<h1 class="graph_title">Speeding Stops by Day of Year</h1>
		</div>

		<div class="picture">
			<center><img src="https://media1.tenor.com/images/11c45fe34b0d1c8965c139471d3f4235/tenor.gif?itemid=9574192", alt="Toddler in Little Tykes car gets pulled over"></center>
		</div>

		<div class="row graph_visualization">
			<div class="col-md-12">
				<div class="iframeContainer">
					<iframe class="embed-responsive-item" src="/date_graph" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 insight_text">
				<ul>Insight Gained
					<li>National Holidays see up to 4x increase in speeding stops</li>
					<li>Large discrepancy between weekday / weekend stops made</li>
					<li>Clear downward trend in number of stops overall since 2010</li>
					<li>New Year's Day, Thanksgiving lose peak status over time</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container graph">
		<div class="row">
			<h1 class="graph_title">Speeding Stops by Race of Driver</h1>
		</div>

		<div class="picture">
			<center><img src="http://mrwgifs.com/wp-content/uploads/2013/07/Black-Ranger-Gets-Pulled-Over-In-His-Car.gif", alt="Black Power Ranger gets pulled over"></center>
		</div>

		<div class="row graph_visualization">
			<div class="col-md-12">
				<div class="iframeContainer">
					<iframe class="embed-responsive-item" src="/race_graph" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 insight_text">
				<ul>Insight Gained
					<li>General decrease in line with overall decrease in stops</li>
					<li>Hispanics rise to the top (and are probably underestimated as it is)</li>
					<li>Slight increase in Other stops (from 1:1000 ppl to almost 3)</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container graph">
		<div class="row">
			<h1 class="graph_title">Speeding Stops by Gender of Driver</h1>
		</div>

		<div class="row">
			<div class="col-md-6 picture2">
				<center><img src="https://hugelolcdn.com/i/150762.gif", alt="Bryan Cranston is nervous"></center>
			</div>
			<div class="col-md-6 picture2">
				<center><img src="https://i.makeagif.com/media/8-26-2015/_Q3-E1.gif", alt="Jennifer Aniston is not nervous"></center>
			</div>
		</div>

		<div class="row graph_visualization">
			<div class="col-md-12">
				<div class="iframeContainer">
					<iframe class="embed-responsive-item" src="/gender_graph" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 insight_text">
				<ul>Insight Gained
					<li>Men pulled over around twice as often as women</li>
					<li>Both numbers decreasing in line with overall decrease in stops</li>
					<li>Biggest drop between 2012 - 2014</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="container graph">
		<div class="row">
			<h1 class="graph_title">Speeding Incidents by Race of Driver</h1>
		</div>

		<div class="picture">
			<center><img src="https://media.giphy.com/media/NNjow5ltzEVgI/giphy.gif", alt="Mario Kart: Word on the Streets"></center>
		</div>

		<div class="row graph_visualization">
			<div class="col-md-12">
				<div class="iframeContainer">
					<iframe class="embed-responsive-item" src="/crashes_race_graph" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 insight_text">
				<ul>Insight Gained
					<li>General increase in accidents in 2015 </li>
					<li>Native American had the least volatility in accidents</li>
					<li>Black, Hispanic, and Asian drivers had similar trends</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container graph">
		<div class="row">
			<h1 class="graph_title">Speeding Incidents by Gender of Driver</h1>
		</div>

		<div class="picture">
			<center><img src="https://media2.giphy.com/media/Y67ecka8PSbMQ/giphy.gif", alt="Always wear your seat belt"></center>
		</div>

		<div class="row graph_visualization">
			<div class="col-md-12">
				<div class="iframeContainer">
					<iframe class="embed-responsive-item" src="/crashes_gender_graph" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 insight_text">
				<ul>Insight Gained
					<li>Interesting Point</li>
					<li>Another Point</li>
					<li>So Many Points</li>
				</ul>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<div id="footer">
		<p>Brought to you by The Triumvirate 2018</p>
	</div>

	<!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
